<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="box">

        <form action="/login"  method="post">
            <h2>Sign in </h2>
            <div class="inputBox">
                <input type="text" name="email" required>
                <span>User name or Email</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" name="password" required>
                <span>Enter password</span>
                <i></i>
            </div>
            <input type="submit" value="Login">
            <div class="links">
                <a href="/">Home </a>
                <a href="/signup">SignUp</a>
                
            </div>
            <div class="answer">
                <% if (message.length>0){%>
                    <div class="alert alert-danger">
                        <%=message %>
                    </div>
                    <%}%>
            </div>
        </form>
    </div>
</body>
</html>