<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/head') %>
</head>
<body>
    <div class="login">
    <h1>pagina login</h1>
    <% if (message.length>0){%>
        <div class="alert alert-danger">
            <%=message %>
        </div>
        <%}%>
    <form action="/login" method="post">
<div class="form-group">
<label for="email">email</label>
<input type="text" name="email" class="form-control">
</div>
<div class="form-group">
    <label for="password">password</label>
    <input type="password" name="password"class="form-control">
</div>
<input type="submit" class="btn-dark" >
    </form>
    <hr>
    <div class="text-centar">
        <p>Need an count? <a href="/signup">signup</a></p>
        <p>or go <a href="/">Home</a></p>
    </div>
</div>
</body>
</html>